<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204660540793-fih6r4pnsmqje4p5q620vd921ara1d7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204660540793-fih6r4pnsmqje4p5q620vd921ara1d7h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>204660540793-a6r9p10blbq3cov2kbrnq9kb01hu1hc2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA3jurciDBzLDoUXrRoinelTWtOP-ch2Ek</string>
	<key>GCM_SENDER_ID</key>
	<string>204660540793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.altarOfPrayers</string>
	<key>PROJECT_ID</key>
	<string>altar-of-prayers</string>
	<key>STORAGE_BUCKET</key>
	<string>altar-of-prayers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204660540793:ios:d178dff69cfed6e099dba8</string>
	<key>DATABASE_URL</key>
	<string>https://altar-of-prayers.firebaseio.com</string>
</dict>
</plist>